@inherits LayoutComponentBase
<PageTitle>Blog Uygulaması</PageTitle>

<div class="main-nav">
    <nav>
        <ul>
       @*      <li><a href="/">Ana Sayfa</a></li> *@
            <li><img src="a.jpg" class="logo" height="80px" width="80px" />EVİN YANİTOZ</li>
            <li><a href="/projem">Projelerim</a></li>
            <li><a href="/hakkimda">Hakkımda</a></li>
        </ul>
    </nav>
</div>

<div class="content">
    @Body
</div>