@page "/hakkimda"

@* <h3>Hakkımda</h3>


<hr />

<h4>Eğitim</h4>
<ul>
    <li>MUSTAFA KEMAL ÜNİVERSİTESİ - Bilgisayar Programcılığı (2018)</li>
    <li> ANADOLU ÜNİVERSİTESİ - Yönetim Bilişim Sistemleri(2023)</li>
</ul>
<hr />

<h4>Hobiler</h4>
<ul>
    <li>Yazılım geliştirme</li>
    <li>Kitap okuma</li>
    <li>Belgesel İzlemek</li>
    <li>Araştırmak , Yeni bilgiler edinmek</li>

</ul>
 *@


<div class="project-list">
    <div class="project">
        <h4>HAKKIMDA</h4>
     <p>
    Merhaba! Ben Evin, yazılım geliştirmeye tutkulu bir geliştiriciyim.
    Blazor, C#, ve Masaüstü geliştirme konusunda deneyimim var. Bu projede,
    kullanıcıların blog yazıları yazabileceği basit bir blog uygulaması yapıyorum.
</p>
    </div>
    <div class="project">
  
        <h4>EĞİTİM</h4>

        <li>MUSTAFA KEMAL ÜNİVERSİTESİ - Bilgisayar Programcılığı (2018)</li>
        <li> ANADOLU ÜNİVERSİTESİ - Yönetim Bilişim Sistemleri(2023)</li>
    </div>
    <div class="project">
        <h4>Hobiler</h4>
        <ul>
            <li>Yazılım geliştirme</li>
            <li>Kitap okuma</li>
            <li>Belgesel İzlemek</li>
            <li>Araştırmak , Yeni bilgiler edinmek</li>

        </ul>

    </div>
</div>
