@page "/"

<PageTitle>Home</PageTitle>

<h3>Hoş Geldiniz!</h3>

<div class="content">
    <p>Benim kişisel bloguma hoş geldiniz. Bu blogda projelerimi ve hakkımda bilgileri bulabilirsiniz. Keyifli okumalar!</p>
</div>
