@page "/projem"

<h3>Projelerim</h3>

<div class="project-list">
    <div class="project">
        <h4>Blog Uygulaması</h4>
        <p>Bu proje, bir kullanıcıya kendi blogunu yönetme fırsatı verir. Kullanıcılar yazı ekleyebilir, düzenleyebilir ve silebilir.</p>
    </div>
    <div class="project">
        <h4>Masaüstü Uygulaması</h4>
        <p>Bu projede, küçük işletmeler için modern ve duyarlı bir web form uygulamaları geliştirdim.</p>
    </div>
    <div class="project">
        <h4>Mobil Uygulama</h4>
        <p>Bu uygulama, kullanıcıların fitness hedeflerine ulaşmalarına yardımcı olmak için gelişmiş izleme özellikleri sunmaktadır.</p>
    </div>
</div>
